extends ../layouts/main.pug
block style
  link(type='text/css' rel='stylesheet' href='/css/cart.css')
block content
  section(class='cart-wrap')
    div(class='cart-item-list p-4 pb-5')
      h4(class='text-center font-weight-bold mb-5 d-block text-dark') Shopping Cart 
      each product in products 
        div(class='cart-item-wrap mb-4 p-2')
          div(class='item-img')
            img(class='w-100' src=`${product.frontImg}`)
          div(class='title-wrap') 
            p(class='text-center') #{product.title} 
          div(class='size-wrap') 
            p(class='text-center') Size: #{product.size}
          div(class='item-quantity-wrap')
            div
              a(class='font-weight-bold text-center px-2 reduce-btn') - 
              input(type='number' value=`${product.quantity}` min='0' max='99')
              a(class='font-weight-bold text-center px-2 increase-btn') +
          div(class='item-price-wrap')
            p(class='text-center' data-price=`${product.price}`)
          div(class='close-btn-wrap')
            a(href=`/cart/remove-product/${product._id}` class='text-dark')
              i(class='fa fa-times')
      if products.length > 0
        section(class='cart-summary text-center border-top border-dark py-4')
          p(class='font-weight-bold') Total:  
            span(class='font-weight-normal') $#{subtotal}

      a(href='/products' class='btn btn-primary px-3' id='cont-shop-btn')
        span 
          i(class='fa fa-arrow-left') 
        span &nbsp; Continue Shopping
    if products.length > 0
      a(href='/cart/checkout' class='btn btn-primary px-3' id='checkout-btn')
        span Checkout &nbsp;
          i(class='fa fa-arrow-right')


block script  
  script(type='text/javascript' src='/js/cart.js')