extends ../layouts/main.pug
block style
  link(type='text/css' rel='stylesheet' href='/css/cart.css')
block content
  section(id="cart-wrap")
    h4(class='text-center text-dark font-weight-bold my-4') Shopping Cart

    if products.length > 0
      ul(class='my-2 text-center p-2')
        li(class='font-weight-bold rounded') Product
        li(class='font-weight-bold rounded') Title
        li(class='font-weight-bold rounded') Size
        li(class='font-weight-bold rounded') Quantity
        li(class='font-weight-bold rounded') Price

      ul(class='mt-2')
        each product in products
          li(class='cart-item mb-4 p-2')
            span(class='cart-item-img-wrap text-center vert-center')
              img(src=`${product.frontImg}`)
            span(class='cart-item-title text-center vert-center') #{product.title}
            span(class='cart-item-size text-center vert-center') #{product.size} 
            div(class='cart-item-quantity-wrap position-relative')
              div(class='text-center')
                a(class='font-weight-bold px-2 reduce-btn') - 
                input(type='number' class='rounded text-center pl-3' value=`${product.quantity}` min='0' max='99')
                a(class='font-weight-bold px-2 increase-btn') +
            span(class='cart-item-price text-center vert-center' data-price=`${product.price}`) $#{product.price}
            span(class='remove-cart-item text-center vert-center') 
              a(href=`/cart/remove-product/${product._id}` class='text-dark') Remove

      section(id='cart-summary' class='w-75 text-center py-4 mx-auto')
        p(class='font-weight-bold') Total:  
          span(id='cart-subtotal' class='font-weight-normal')

    else
      div(class='view-products-wrap text-center') 
        a(href='/products' class='btn btn-primary px-4') View Products

block script  
  script(type='text/javascript' src='/js/cart.js')